<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<link href="./globalchat.css" rel="stylesheet" />
<div id="kura">
    <h2>कुराहरु </h2>
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
    </div>

    <div id='flex'>
        <input id="handle" type="hidden" placeholder="Name" value="{{{name}}}" name='username'>
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
</div>
</body>
<script src="./globalchat.js"></script>
