<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<link href=".././globalchat.css" rel="stylesheet" />
<style>

    .me{
        float: right;
        position: relative;
        margin-top: 2em;
    }

    .friend{
        float: left;
        position: relative;
        margin-top: 2em;
    }

</style>



<div id="kura">
    <h2>{{to.name}} </h2>
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
    </div>

    <div id='flex'>
        <input id="handle" type="hidden" placeholder="Name" value="{{{name}}}" name='username'>
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
</div>

<script>
    var info = {{{info}}}
    var socket = io.connect("localhost:3000");

    var message = document.getElementById('message');
    var handle = document.getElementById('handle');
    var button = document.getElementById('send');
    var output = document.getElementById('output');
    var feedback = document.getElementById('feedback');

    socket.emit('SEND_USERNAME', {
        username: handle.value || 'Anonymous',
        user_id: info.from.id
})


    button.addEventListener('click', function(){
        socket.emit('private', {
            message: message.value,
            to_id: info.to.id,  
            from_id: info.from.id
        });
        output.innerHTML += "<P class='me'> <strong>"+info.from.name.split(' ')[0]+ ': </strong>'+ message.value +'</p>'
        feedback.innerHTML =''
        message.value = null
    })


    message.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            button.click();
        }
    });
    
    message.addEventListener('keypress', function(){
        socket.emit('typing', handle.value);
    })

    socket.on('private', function(data){
        console.log('private chat')
        output.innerHTML += "<P class='friend'> <strong>"+info.to.name.split(' ')[0]+ ': </strong>'+ data.message +'</p>'
        feedback.innerHTML =''
    })

    socket.on('typing', function(name){
        feedback.innerHTML = '<p><em>.... '+ name +' is typing.</em></p>'
    })


</script>